.button-postpopularity-reset {
     background: #f01 !important;
     color: #fff !important;
     border-color: #f01 !important;
     text-shadow: none !important;
     box-shadow: 0 1px 0 #f01 !important;
}